{% extends "base.html.twig" %}

{% block body %}
<a href="{{path('app_login')}}">deja un compe</a>
    {{form_start(formulaire)}}
    {{form_widget(formulaire)}}
    <button type="submit">incription</button>
    {{form_end(formulaire)}}
{% endblock body %}